<%- include('partials/header') %>

<div class="row gx-4 gx-lg-5 align-items-center justify-content-center my-5 mx-0 px-0 text-light-gray">
    <div class="col-lg-4 px-4 text-justify">
        <h2 class="font-weight-light text-center">Olá! Eu sou Humberto</h2>
        <p>
            Atualmente, estou cursando o Tecnólogo em Análise e Desenvolvimento de Sistemas na FATEC. Tenho experiência prática com as linguagens Python, Java, JavaScript e TypeScript, adquirida por meio de projetos acadêmicos e pessoais. Este portfólio foi desenvolvido para apresentar alguns desses projetos, bem como minhas principais habilidades e qualificações.
        </p>
    </div>

    <div class="col-lg-4 text-center">
        <img class="img-fluid rounded-circle w-75 w-lg-50" src="/images/foto.jpg" alt="..." />
    </div>
</div>

<div class="row gx-4 gx-lg-5 align-items-center justify-content-center my-5 mx-0 px-0 text-light-gray">
    <div class="col-lg-4 text-center">
        <img class="img-fluid rounded w-lg-50" src="/images/soft_skills.jpg" alt="..." />
    </div>

    <div class="col-lg-4 px-4 text-justify">
        <h2 class="font-weight-light text-center">Soft Skills</h2>
        <ul>
            <li><strong>Comunicação:</strong> Capacidade de expressar ideias de forma clara, objetiva e eficaz, tanto na fala quanto na escrita.</li>
            <li><strong>Proatividade:</strong> Atitude de agir antecipadamente, buscando soluções e melhorias sem necessidade de supervisão constante.</li>
            <li><strong>Trabalho em equipe:</strong> Habilidade de colaborar com diferentes perfis, promovendo um ambiente cooperativo e produtivo.</li>
            <li><strong>Adaptabilidade:</strong> Facilidade em lidar com mudanças, aprender rapidamente e se ajustar a novos contextos e desafios.</li>
          </ul>
    </div>
</div>

<div class="pt-3 pb-5 content text-light-gray">
    <div class="container">
        <h2 class="py-3 text-center">Certificações</h2>

        <div class="row gy-4 justify-content-center">
            <div class="col-12 col-lg-5">
                <div class="card custom-card p-3 h-100">
                    <div class="row align-items-center g-3">
                        <div class="col-md-5 text-center">
                            <img src="/images/agent.webp" class="img-fluid rounded shadow" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h3 class="card-title h5 mb-3">Curso de AI Agents</h3>
                                <p>
                                    Curso concluído com foco na criação de agentes de IA, utilizando bibliotecas como smolagents, LlamaIndex e LangGraph. Incluiu teoria, desafios práticos e desenvolvimento de projetos aplicados. Certificação obtida ao final.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-5">
                <div class="card custom-card p-3 h-100">
                    <div class="row align-items-center g-3">
                        <div class="col-md-5 text-center">
                            <img src="/images/fisk.jpg" class="img-fluid rounded-circle shadow" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h3 class="card-title h5 mb-3">Curso de Inglês</h3>
                                <p class="card-text small">Conclusão com o nível B do curso de inglês na Fisk, onde foram desenvolvidas as habilidades de leitura, escrita, escuta e conversação em situações cotidianas e profissionais. O curso teve foco na fluência e no uso prático do idioma em nível intermediário.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
