<%- include('partials/header') %>

<div class="row gx-4 gx-lg-5 align-items-center justify-content-center my-5 mx-0 px-0 text-light-gray">
  <div class="col-lg-4 text-center">
      <img class="img-fluid rounded w-75 w-lg-50" src="/images/Python.png" alt="..." />
  </div>

  <div class="col-lg-4 px-4 text-justify">
      <h2 class="font-weight-light">Principais Projetos</h2>
      <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur, obcaecati atque voluptas et aliquid quia voluptates voluptatum maiores quae blanditiis distinctio ea iusto.
      </p>
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quidem alias, ex possimus sed reprehenderit, autem et laudantium aut optio aperiam temporibus omnis explicabo, dolore pariatur voluptate repudiandae dolores deleniti?!
      </p>
  </div>
</div>

<div class="row gx-4 gx-lg-5 justify-content-center text-light-gray">
  <div class="col-md-3 mb-4">
      <div class="card custom-card h-100">
          <div class="card-body">
              <h4 class="card-title">Scrum Teach</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
              <img src="/images/scrum.png" class="img-fluid mt-3 rounded" alt="...">
          </div>
          <div class="card-footer"><a class="btn btn-sm text-light-gray" href="https://github.com/HumbertoIshii/API1Semestre">Saiba Mais</a></div>
      </div>
  </div>

  <div class="col-md-3 mb-4">
      <div class="card custom-card h-100">
          <div class="card-body">
              <h4 class="card-title">Alplaca</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
              <img src="/images/alplaca.png" class="img-fluid mt-3 rounded" alt="...">
          </div>
          <div class="card-footer"><a class="btn btn-sm text-light-gray" href="https://github.com/Bug-Busters-F/alplaca">Saiba Mais</a></div>
      </div>
  </div>

  <div class="col-md-3 mb-4">
      <div class="card custom-card h-100">
          <div class="card-body">
              <h4 class="card-title">AI Agent</h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
              <img src="/images/Alfred.png" class="img-fluid mt-3 rounded" alt="...">
          </div>
          <div class="card-footer"><a class="btn btn-sm text-light-gray" href="https://github.com/HumbertoIshii/bertoti">Saiba Mais</a></div>
      </div>
  </div>
</div>

<%- include('partials/footer') %>
